@using FourPlayCharacterCreator.Models;
@model FourPlayCharacterCreator.Models.Character

@{
    ViewData["Title"] = "Result";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Result</h1>

<div>
    <h4>Character</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Proclivity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Proclivity)
        </dd>
    </dl>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Package)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Package)
        </dd>
    </dl>
    <h4>Competencies</h4>
    <dl class="row">       
        @foreach (Competency c in Model.Competencies)
        {
            <dd class="col-sm-10">
               <b>@c</b>
            </dd>
        }
    </dl>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HeadNuggets)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HeadNuggets)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TorsoNuggets)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TorsoNuggets)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LimbNuggets)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LimbNuggets)
        </dd>
    </dl>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SpellcasterType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SpellcasterType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MagicDomain)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MagicDomain)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PsionicDomain)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PsionicDomain)
        </dd>
    </dl>
    <h4>Spells</h4>
    <dl class="row">
        @foreach (Spell s in Model.Spells)
        {
            <dd class="col-sm-10">
                <b>@s</b>
            </dd>
        }
    </dl>
    <h4>Psionic Spells</h4>
    <dl class="row">
        @foreach (PsionicSpell ps in Model.PsionicSpells)
        {
            <dd class="col-sm-10">
                <b>@ps</b>
            </dd>
        }
    </dl>
</div>